@import url(https://fonts.googleapis.com/css?family=Kanit:300);

.kanit-font {
  font-family: 'Kanit', sans-serif;
}

.form input {
  font-family: 'Kanit', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 60%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}